#navegacao-principal nav{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    width: 100%;
}
#menu-principal{
    list-style-type:none;
    padding-left: 0;
    display: flex;
   
}

#menu-principal li{
    float: left;
    background-color: rgb(38, 164, 189);
    display: block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    height: auto;
    width: auto;
}

#menu-principal li a{
    color: rgb(6, 6, 6);
    text-decoration: none;
}

.dropdown{
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    box-shadow: 0px, 8px, 16px, 8px rgba(rgb(73, 59, 202), rgb(73, 95, 223), rgb(85, 85, 212), alpha);
}

.dropdown li{
    clear: both;
    width: 100%;
}
#menu-principal li:hover,
#menu-principal li:focus-within{
    background-color: rgb(6, 15, 92);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    width: auto;

}
#menu-principal li a:hover{
    color: rgb(238, 232, 232);
    
}

/*Exibir dropdown*/
#menu-principal li:hover>ul,
#menu-principal li:focus-within>ul,
.dropdown ul:focus{
    visibility: visible;
    opacity: 1;
    display: block;
}

article {
    flex-flow: row wrap;
    font-size: 1.2em;
    display: flex;
    justify-content: center; 
}

article a {
    border-radius: 5px;
    box-shadow: 0 1px 12px -2px rgba(56, 31, 197, 0.88);
     
}

article a:hover {
    box-shadow: 0 1px 30px -2px rgba(51, 53, 175, 0.88);
}

section{
    flex-flow: row wrap;
    flex: 150px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(74, 119, 216);

}
.big-card div {
    width: 50%;
    font-size: 1.2rem;
    font-weight: bold;
}

@media screen and (max-width: 480px){
    article{
    flex-direction: column;
    }
    body{
        font-size: 0.5rem;
        max-width: 480px;
    }
    
#navegacao-principal nav{
    float: left;
    width: 100%;
}
#menu-principal{
    position: relative;
        font-family: monospace;
        float: left;
        width: 100%;
        display: flex;
         background-color: rgb(66, 74, 143);
        cursor: pointer;
        background-color: rgb(72, 87, 162);
   
}
#menu-principal li{
    background-color: rgb(66, 74, 143);
    cursor: pointer;
    background-color:rgb(34, 46, 154);
        width: 21%;
        float: none;
}

#menu-principal li a{
        text-align: left;
        color:rgb(0, 0, 0);
        text-decoration: none;
        display: block;
        outline: none;
}

.dropdown{
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0.5rem;
    left: 0;
    
}

.dropdown li{
    clear: both;
    width: 100%;
}
#menu-principal li:hover,
#menu-principal li:focus-within{
    background-color: rgb(66, 74, 143);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    width: auto;

}
#menu-principal li a:hover{
    color: rgb(0, 0, 0);
    
}
#menu-principal li:hover>ul,
#menu-principal li:focus-within>ul{
    background-color:rgb(34, 46, 154);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;   
}


@media screen and (min-width:801px) {
    article{
    flex: 50%;
    font-size: 3em;
    }   
    body {
        font-size: 1rem;
        
    }
}
@media screen and (min-width: 1281px) {
    article{
        flex-direction: column;
        }
        body{
            font-size: 1.5rem;
            max-width: 480px;
        }
}
}